.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.components-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.selected {
    background-color: #007bff; 
    color: white;     
}

.chartX {
    width: 600px;
}