/* GroupCard.module.css */

.group-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px;
  display: inline-block;
  box-shadow: 0px 2px 10px rgba(27, 211, 243, 0.1);
  border-radius: 5px;
  transition: transform 0.3s ease;
  width: 150px;   /* Set a fixed width */
  height: 220px; /* Set a fixed height */
  position: relative;  /* For the inner positioning */
  overflow: hidden;  /* To handle overflow content */
  text-align: center; 
}

.group-card:hover {
  transform: translateY(-5px);
}

.group-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  display: block;   /* Ensure the image takes up full width */
  margin-left: auto;
  margin-right: auto;
}

/* Optional: You can add this to ensure the content is centered vertically */
.group-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groupscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
