.main {
    display: flex;
    flex-direction: column;
}

.chartsContainer {
    display: flex;
    flex-wrap: wrap;
}

.chartType1 {
    padding: 0.1em;
}

.chartType2 {
    padding: 0.1em;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.chart1 {
  border-radius: 8px;
  padding: 0.8em;
  margin: 0.2em;
  max-height: 300px;
  min-width: 520px;
}

.chart {
    border-radius: 8px;
    padding: 0.8em;
    margin: 0.2em;
    margin-bottom: 4em;
    max-height: 400px;
    min-width: 600px;
}

.numbers table {
  width: 100%;
  border-collapse: collapse;
}

.numbers th, .numbers td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 0.8rem; /* Adjust the value as needed */
}

.numbers th {
  text-align: left;
}

.numbers td:nth-child(2), .numbers td:nth-child(3) {
  text-align: right;
}
.dropdown {
    margin: 5px;
}
.dropdownSelect {
    padding: 0.2em;
    background-color: black;
    color: white;
}
