.main {
    display: flex;
    flex-direction: column;
}

.chartsContainer {
    display: flex;
    flex-wrap: wrap;
}

.chartType1 {
    padding: 0.1em;
}

.chartType2 {
    padding: 0.1em;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.chart1 {
  border-radius: 8px;
  padding: 0.8em;
  margin: 0.2em;
  max-height: 300px;
  min-width: 520px;
}

.chart {
    border-radius: 8px;
    padding: 0.8em;
    margin: 0.2em;
    margin-bottom: 4em;
    max-height: 400px;
    min-width: 600px;
}

.numbers table {
  width: 100%;
  border-collapse: collapse;
}

.numbers th, .numbers td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 0.8rem; /* Adjust the value as needed */
}

.numbers th {
  text-align: left;
}

.numbers th:nth-child(n+2) {
  text-align: center;
}

.numbers td:nth-child(n+2) {
  text-align: right;
}

.dropdownContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown {
    margin: 5px;
}
.dropdownSelect {
    padding: 0.2em;
    background-color: black;
    color: white;
}

.workgroupTable {
  border-collapse: collapse;  /* Ensures borders between cells collapse into a single border */
  border: 1px solid white;    /* Border around the entire table */
  width: 100%;                /* Optional: Makes the table span the entire width of its container */
}

.workgroupTable th,
.workgroupTable td {
  border: 1px solid white;    /* Border for each cell */
  padding: 4px 8px; 
  font-size: 0.9rem;         /* Padding inside each cell */
}

.workgroupTable th:first-child,
.workgroupTable td:first-child {
  text-align: left;
}

.workgroupTable th:last-child,
.workgroupTable td:last-child {
  text-align: right;
}

.workgroupTable th:nth-child(2),
.workgroupTable td:nth-child(2) {
  text-align: right;
}

.workgroupContainer {
  display: flex;
  flex-wrap: wrap;
}

.workgroupBox {
  display: flex;
  flex-direction: column;
}