.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5em;
    padding-left: 17em;
}

.button {
    margin-top: 20px;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    padding: 0.5em;
}
